version: "3.8"

services:
  payment-service:
    build:
      context: ./payment-service
      dockerfile: Dockerfile
    ports:
      - "8082:8080"
    environment:
      - JWT_SECRET=${JWT_SECRET:-""}

  event-service:
    build:
      context: ./event-service
      dockerfile: Dockerfile
    ports:
      - "8084:8080"
    environment:
      - JWT_SECRET=${JWT_SECRET:-""}

  notification-service:
    build:
      context: ./notification-service
      dockerfile: Dockerfile
    ports:
      - "8085:8080"
    environment:
      - JWT_SECRET=${JWT_SECRET:-""}

  participation-service:
    build:
      context: ./participation-service
      dockerfile: Dockerfile
    ports:
      - "8086:8080"
    environment:
      - JWT_SECRET=${JWT_SECRET:-""}
      