version: '3.8'

services:
  service-discovery:
    build: ./service-discovery
    container_name: service-discovery
    ports:
      - "8761:8761"

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - service-discovery

  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "8081:8081"
    depends_on:
      - service-discovery
      - db

  event-service:
    build: ./event-service
    container_name: event-service
    ports:
      - "8082:8082"
    depends_on:
      - service-discovery
      - db

  participation-service:
    build: ./participation-service
    container_name: participation-service
    ports:
      - "8083:8083"
    depends_on:
      - service-discovery
      - db

  notification-service:
    build: ./notification-service
    container_name: notification-service
    ports:
      - "8084:8084"
    depends_on:
      - service-discovery

  chat-service:
    build: ./chat-service
    container_name: chat-service
    ports:
      - "8085:8085"
    depends_on:
      - service-discovery

  payment-service:
    build: ./payment-service
    container_name: payment-service
    ports:
      - "8086:8086"
    depends_on:
      - service-discovery
      - db

  mailhog:
    image: mailhog/mailhog
    container_name: mailhog
    ports:
      - "1025:1025"
      - "8025:8025"

  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    volumes:
      - ./init-db:/docker-entrypoint-initdb.d
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
