server:
  port: 8084
spring:
  application:
    name: notification-service
  mail:
    host: mailhog
    port: 1025
    username:
    password:
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false
eureka:
  client:
    service-url:
      defaultZone: http://service-discovery:8761/eureka/
